<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>725780652012-5q4qd49kq0ctd1pig7ich6e14s46csps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725780652012-5q4qd49kq0ctd1pig7ich6e14s46csps</string>
	<key>API_KEY</key>
	<string>AIzaSyDXoId2_1hq1r6UaH4ME-JjAjfvV_IX5xI</string>
	<key>GCM_SENDER_ID</key>
	<string>725780652012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seansaoirse.NewTalk</string>
	<key>PROJECT_ID</key>
	<string>newtalk-7473a</string>
	<key>STORAGE_BUCKET</key>
	<string>newtalk-7473a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725780652012:ios:ae3d18791a96a75a</string>
	<key>DATABASE_URL</key>
	<string>https://newtalk-7473a.firebaseio.com</string>
</dict>
</plist>